{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="main exception">
<p  class="error_number">404</p>
<h1>La page recherchée n'a pas été trouvée.</h1>

<a href="{{ path('home') }}"><h1 class="card-purple">Retourner à l'accueil</h1></a>
</div>
{% endblock %}